<div class="grid">
  <div class="col-12">

      <h5>Advanced</h5>
      <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-6">
          <label htmlFor="firstname2">Firstname</label>
          <input pInputText id="firstname2" type="text" />
        </div>
        <div class="field col-12 md:col-6">
          <label htmlFor="lastname2">Lastname</label>
          <input pInputText id="lastname2" type="text" />
        </div>
<!--        <div class="field col-12">-->
<!--          <label htmlFor="address">Address</label>-->
<!--          <input pInputTextarea id="address" rows="4" />-->
<!--        </div>-->
        <div class="field col-12 md:col-6">
          <label htmlFor="city">City</label>
          <input pInputText id="city" type="text" />
        </div>
<!--        <div class="field col-12 md:col-3">-->
<!--          <label htmlFor="state">State</label>-->
<!--          <p-dropdown [options]="dropdownItems" optionLabel="name" [(ngModel)]="selectedState"></p-dropdown>-->
<!--        </div>-->
        <div class="field col-12 md:col-3">
          <label htmlFor="zip">Zip</label>
          <input pInputText id="zip" type="text" />
        </div>

      </div>
    <button pButton label="Submit"></button>

  </div>
</div>

