.customer-badge {
  border-radius: var(--border-radius);
  padding: .25em .5rem;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: .3px;
}



.customer-badge {
  &.status-guest {
    background: #B3E5FC;
    color: #23547B;
  }

  &.status-regular {
    background: #ECCFFF;
    color: #694382;
  }

}
